header, footer {
    font-family: 'Source Code Pro', monospace;
    background-color: #606041;
    color: #dadbcc;
}
main{



}
#logo {
    width: 75px;
    height: 75px;
}
.company-name{
    margin: auto;
    text-align: center;
    font-size: 36px;
}

nav {
    margin: auto;
}
#legal{
    margin: auto;
}

.index_main{ /* index page */
    display: flex;
    justify-content: space-between; 
    background-color: #989D75 ; 
}
#welcome{ /* index page */
    text-align: center;
    margin: auto;
    line-height: 250%;


}
#banner{ /* index page */
    margin: 20px;
    padding: 0;
    width: 600px;
    height: 500px;
}

 .primary-color-1 {
    background-color: #7A7F4F;
}

 .primary-color-2 {
    background-color: #505055;
}

 .primary-color-3 {
    background-color: #989D75;
}

 .accent-color-1 {
    background-color: #C9BFBA;
}

 .accent-color-2 {
    background-color: #E7D0B8;
}

 .accent-color-3 {
    background-color:#A59A99;
}

 .accent-color-4 {
    background-color:#EF1302;
}

 .font-color-1 {
    background-color: #000000;
}

 .font-color-3 {
    background-color: #dadbcc;
}

.logo-outer {
    background-color: aquamarine;
}

 .logo-inner {
    background-color: blueviolet;
}

 .img-1 {
    border-color: aquamarine;
}

 .img-2 {
    border-color: blueviolet;
}

 .img-3 {
    color: #dadbcc;
}
a {
    color: white;
}
.url {
    color: blue;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
}

main{
    font-family: 'Source Code Pro', monospace;
    background-color: #989D75 ; 
}