.dark-design .primary-color-1 {
    background-color: #7A7F4F;
}

.dark-design .primary-color-2 {
    background-color: #505055;
}

.dark-design .primary-color-3 {
    background-color: #989D75;
}

.dark-design .accent-color-1 {
    background-color: #C9BFBA;
}

.dark-design .accent-color-2 {
    background-color: #E7D0B8;
}

.dark-design .accent-color-3 {
    background-color: #A59A99;
}

.dark-design .accent-color-4 {
    background-color: #EF1302;
}

.dark-design .font-color-1 {
    background-color: #000000;
}

.dark-design .font-color-3 {
    background-color: #dadbcc;
}

.dark-design .logo-outer {
    background-color: aquamarine;
}

.dark-design .logo-inner {
    background-color: blueviolet;
}

.dark-design header {
    background-color: #606041;
    color: #dadbcc;
}

.dark-design footer {
    background-color: #606041;
    color: #dadbcc;
}

.dark-design .img-1 {
    border-color: aquamarine;
}

.dark-design .img-2 {
    border-color: blueviolet;
}

.dark-design .img-3 {
    color: #dadbcc;
}

.dark-design .img-4 {
    border-color: darkslategrey;
}

.dark-design .img-5 {
    border-color: firebrick;
}

.dark-design .img-6 {
    border-color: gold;
}

.dark-design a {
    color: white;
}

.dark-design {
    font-family: 'Source Code Pro', monospace;}

.dark-design h1, .dark-design h2, .dark-design h3, .dark-design h4, .dark-design h5, .dark-design h6 {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
}

.dark-design {
    background-color: black;
    color:#dadbcc;
    
}